.Client {
  background: url('../../assets/bg_call_section_2.jpg') no-repeat center/cover;
  background-attachment: fixed;
}
.Client h2 {
}
.Client .row {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.Client .single-slide {
  background: var(--black-1);
}

.Client .single-slide img {
  max-width: 10%;
  width: 100%;
  object-fit: cover;
}
.Client .single-slide .comment {
  border-left: 1px solid var(--white-1) !important;
}

@media (max-width: 992px) {
  .Client .row {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
  .Client .single-slide img {
    max-width: 20%;
  }
  .Client .single-slide .comment {
    border-left: 0 !important;
  }
}
