.navbar {
  background: var(--dark-1) !important;
}

.navbar .nav-toggle .bar {
  color: var(--white-1) !important;
}
.nav-items {
  gap: 1.2rem;
}
.nav-link {
  color: var(--white-1) !important;
  font-size: var(--font-link) !important;
  font-weight: var(--fw-semi) !important;
}
