.Categories .single-card {
  gap: 20px;
}

.Categories .single-card .btn {
  font-size: var(--font-link);
  font-weight: var(--fw-semi);
}
.Categories .single-card .btn:not(.active) {
  color: var(--gold-1) !important;
  transition: var(--transition);
  background: transparent;
}
.Categories .single-card .btn.active {
  background: var(--dark-1);
  color: var(--white-1);
  border: none;
}
