.H-party {
  background: url('../../assets/bg_call_section.jpg') no-repeat center/cover;
  background-attachment: fixed;
}

.H-party .box {
  color: white;
  background: var(--black-1);
  max-width: 600px;
  width: 100%;
  padding: 3rem;
}
.H-party .box h2,
.H-party .box h4 {
  color: white !important;
}
