.card-box {
  border-radius: 13px;
  background: var(--dark-1);
}

.card-box .image {
  background: var(--white-2);
  border-bottom-left-radius: 32px;
}
.card-box .image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.icon span:nth-of-type(2) {
  width: 40px;
  height: 40px;

  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info {
  background: var(--dark-1);
}
