.C-list{
    background: var(--white-2);
}
.C-list .items img{
    width: 12%;
    max-width: 100%;;
    object-fit: cover;
}

.C-list .row-3 .btn{
     width: 150px;
     max-width: 100%;
     border-radius: 0;
     border:2px solid var(--black-2);
     font-weight: var(--fw-semi);
}
.C-list .row-3 .btn a{
    text-decoration: none;
    color:var(--black-2);
}

@media (max-width:768px) {

    .C-list .row-3 .btn{
    width: 100%!important;
}
}

 
.C-list .row-2 .btns button{
    border:1px solid #ddd;
    padding: .2rem 1rem;
}
 
.Total h5{
    color:var(--dark-3)!important
}
.Total h4{
    color:rgb(239, 65, 65)!important;
    font-weight: var(--fw-bold)!important;
}
.Total button{
    font-weight: var(--fw-semi);
}
 