.C-items {
  background: var(--white-1) !important;
  z-index: 100;
  position: fixed;
  height: 400px;
  top: 7%;
  right: 0;

  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 2px solid var(--gold-1);
  border-bottom: 3px solid var(--gold-1);
  scrollbar-width: none !important;
}

.C-items .cart-list img {
  max-width: 70px;
  width: 100%;
  object-fit: cover;
}

.C-items .box .btns button:nth-of-type(1) {
  border: 2px solid var(--black-1) !important;
  background: var(--white-1);
}

.C-items .box .btns button:nth-of-type(2) {
  background: var(--gold-1) !important;
  color: var(--white-1) !important;
}

.C-items .box .btns button:nth-of-type(1):hover {
  background: var(--gold-1);
}
.C-items .box .btns button:nth-of-type(1):hover a {
  color: var(--white-1) !important;
}
.C-items .box .btns button a:nth-of-type(1) {
  color: var(--black-1) !important;
  text-decoration: none;
  font-size: 16px !important;
  font-weight: var(--font-semi) !important;
}

@media (max-width: 768px) {
  .C-items {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    pad: 2rem;
  }
}
