* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cabin', sans-serif;
  overflow-x: hidden;
  font-size: 14px;
  background: var(--white-2);
}

:root {
  --white-1: #ffffff;
  --white-2: #edeaea;
  --dark-1: #222831;
  --font-base: 14px;
  --font-link: 15px;
  --font-20: 20px;
  --font-50: 50px;
  --fw-base: 400;
  --fw-md: 500;
  --fw-semi: 600;
  --fw-bold: 700;
  --transition: 0.3s linear;
}
p {
  font-size: var(--font-base) !important;
  line-height: 28px !important;
}
