 
.c-form form  label{
  color:var(--black-1);
  font-weight: var(--fw-semi);
   margin-bottom: 0!important;
    
}
 

.c-form form .input_div input {
 
  
  padding: 0.5rem .6rem; 
  color: var(--dark-2);
  font-size: var(--font-base);
  font-weight: var(--fw-md);
  border: 1px solid #ddd;
  border-radius: 0;
  letter-spacing: .1px
}

 
 