.filter-container {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
}

.filter-container select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-container span {
  margin: 0 5px;
}

.label-container {
  margin-top: 10px;
}

.label-container label {
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
}
